.container {
  width: 812px;
  background: #FCE2CC;
  border-right: 5px solid #e4caae;
  border-left: 5px solid #e4caae;
}
body {
  background: #FDE6D3;
}

header img {
  border-right: 5px solid #e4caae;
  border-left: 5px solid #e4caae;
}
section {
  //margin-top: 1em;
  font-size: 120%;
  float: left;
  min-height: 300px;
  width: 430px;
  padding: 10px;
  background: #FCE2CC;//#FBD9BD;
}
section h1 {
  font-size: 200%;
}
section h2 {
  font-size: 160%;
  font-family: Comic Sans MS;
  color: #334d55;
}
/* Navigation */
nav {
  clear: both;
  float: left;
  width: 19%;
  min-height: 255px;
  padding: 7px;
  border-bottom: 2px solid #d9b58d;
  border-right: 1px solid #d9b58d;
  //border-left: 5px solid #e4caae;
  background: #FBD9BD;//#FCE2CC;
}
nav h2 {
  font-size: 160%;
  font-family: Comic Sans MS;
  color: #334d55;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #069; //#07f;
}

nav ul li a:visited {
  color: #069;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #07f;
}
news {
  float: right;
  width: 20%;
  min-height: 205px;
  padding: 7px;
  border-bottom: 2px solid #d9b58d;
  //border-right: 5px solid #e4caae;
  border-left: 1px solid #d9b58d;
  background: #FCE2DA;
}
news h2 {
  font-size: 160%;
  font-family: Comic Sans MS;
  color: #334d55;
}
/* Links */
a {
  color: #069;//#07f;
  text-decoration: none;
}

a:hover {
  color: #07f;//#069;
  text-decoration: underline;
}

a:visited {
  color: #07f;//#069;
}
footer {
  clear: both;
  padding: 8px;
  font-size: 90%;
  color: #334d55; 
  text-align: center;
  width: 795px;
  height: 24px;
  background: #FBD9BD;
  //border-right: 5px solid #e4caae;
  //border-left: 5px solid #e4caae;
}
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  //border-radius:         10px;
}