<nav class="round">
  <h2>Welcome</h2><br/>
  <ul>
    <li><%= link_to "Home", root_path %></li><br/><br/>
    <li><%= link_to "Registration", '#' %></li><br/>
    <li><%= link_to "Login to post", '#' %></li><br/>
    <li><%= link_to "Post a new ad", '#' %></li><br/><br/><br/>
  </ul>
</nav>